<div class="container-fluid vh-100"
    style="background: url('assets/img/starterbg.jpg') center no-repeat; background-size:cover; height: 200px;">
    <div class="row">
        <div class="col" style="margin: 30% 0% 0% 10%;">
            <h1 style="color: white;">BOARD</h1>
            <h3 style="color: white;">E-Document Meeting</h3>
        </div>
        <div class="col-6">
            <div class="container">
                <div style="max-width: 400px; margin: 35% 0% 0% 0%;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-12 text-center">
                                    <img class="img-fluid" style="width: 36%;height: auto;border-radius: 25px;"
                                        src="assets/img/mainlogo.jpg">
                                </div>
                                <form class="col-12" [formGroup]="form"
                                    (ngSubmit)="form.valid && submitLogin(); submitted = true">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12 form-group mt-3 mb-1">
                                                    <label>ภาษา</label>
                                                    <select class="form-control" (change)="onLanguageChange()" formControlName="language"
                                                        [class.is-invalid]="(form.get('language').dirty || submitted) && form.get('language').invalid"
                                                        required>
                                                        <option [ngValue]="null" selected>
                                                            -- เลือกภาษา --
                                                        </option>
                                                        <option [ngValue]="'en'">English</option>
                                                        <option [ngValue]="'th'">ไทย</option>
                                                        <option [ngValue]="'ch'">Chinese</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 form-group mb-1">
                                                    <label>Username</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="adminUsername"
                                                        [class.is-invalid]="(form.get('adminUsername').dirty || submitted) && form.get('adminUsername').invalid"
                                                        placeholder="User name" required>
                                                </div>
                                                <div class="col-12 form-group mb-1">
                                                    <label>Password</label>
                                                    <div class="input-group mb-3">
                                                        <input [type]="isShowPassword ? 'text' : 'password'"
                                                            class="form-control" formControlName="adminPassword"
                                                            [class.is-invalid]="(form.get('adminPassword').dirty || submitted) && form.get('adminPassword').invalid"
                                                            placeholder="Password" required>
                                                        <div class="input-group-prepend">
                                                            <a href="javascript:void(0)" class="input-group-text"
                                                                (click)="isShowPassword = !isShowPassword"
                                                                style="background: transparent">
                                                                <i class="fa fa-eye-slash" *ngIf="!isShowPassword"></i>
                                                                <i class="fa fa-eye" *ngIf="isShowPassword"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ml-1"></div>
                                                <div class="col form-group text-right">
                                                    <label style="font-weight:50;cursor: pointer;"
                                                        routerLink="/auth/forget-password">
                                                        ลืมรหัสผ่าน ?
                                                    </label>
                                                </div>
                                                <div class="col-12  form-group mt-3">
                                                    <button type="submit" class="btn btn-dark btn-block">
                                                        เข้าสู่ระบบ
                                                    </button>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>