<div class="content-header" style="background-color: #f9f9f9;">
    <div class="container-fluid" style="padding:1% 2% 0% 2%;">

        <div class="row">
            <div class="col-12 mb-3">
                <h5>สร้างแคมเปญใหม่</h5>
            </div>
        </div>

        <div class="row pl-5 pr-3 pt-3 pb-3" style="background-color: #ffffff;border-radius: 15px;">
            <div class="col-12 mb-4">
                <h6> เลือกประเภทของแคมเปญ </h6>
                <small>คุณไม่สามารถแก้ไขประเภทของคอนเทนต์ได้ภายหลัง</small>
            </div>
            <div class="col-2 content-campaign d-flex flex-column justify-content-center align-items-center p-4 mr-3"
                [ngStyle]=" isIndexContent===1 ? {border: '3px solid #00855A'} : {}" (click)="changeContentCampaign(1)">
                <i class="fas fa-bullhorn p-4 mb-3" style="background: #6271FF;border-radius: 15px;"></i>
                <h6 class="mb-1">Post</h6>
                <small style="font-size: 12px;">ประกาศข่าวสารกิจกรรมทั่วไป</small>
            </div>
            <div class="col-2 content-campaign d-flex flex-column justify-content-center align-items-center p-4 mr-3"
                [ngStyle]=" isIndexContent===2 ? {border: '3px solid #00855A'} : {}" (click)="changeContentCampaign(2)">
                <i class="far fa-file-alt p-4 mb-3" style="background: #E97A3C;border-radius: 15px;"></i>
                <h6 class="mb-1">Test</h6>
                <small style="font-size: 12px;">แบบทดสอบที่มีการวัดผล</small>
            </div>
            <div class="col-2 content-campaign d-flex flex-column justify-content-center align-items-center p-4 mr-3"
                [ngStyle]=" isIndexContent===3 ? {border: '3px solid #00855A'} : {}" (click)="changeContentCampaign(3)">
                <i class="far fa-file-image p-4 mb-3" style="background: #D7F328;border-radius: 15px;"></i>
                <h6 class="mb-1">Survey</h6>
                <small style="font-size: 12px;">แบบสำรวจความคิดเห็น</small>
            </div>
            <div class="col"></div>
        </div>

        <!-- Form Post -->
        <form *ngIf="isIndexContent===1" class="row pl-5 pr-3 pt-3 pb-3 mt-3"
            style="background-color: #ffffff;border-radius: 15px;" [formGroup]="form"
            (ngSubmit)="form.valid && submitCreateCampaign(); submitted = true">
            <div class="col-7">
                <div class="row">
                    <div class="col-12 px-0 mb-3">
                        <label class="d-block">รูปภาพหน้าประกอบ (1200 x 800 px)</label>

                        <input type="file" name="file" #file (change)="onFileSelected(file)" hidden>

                        <button *ngIf="!form.get('image').value" type="button" class="btn btn-success"
                            (click)="file.click()">
                            + อัพโหลดรูปภาพ
                        </button>
                        <div *ngIf="form.get('image').value" class="row">
                            <div class="col-5">
                                <img class="img-fluid" [src]="getBaseDirFilesServ(form.get('image').value)"
                                    style="width: 400px;height: 266px;border-radius:15px;object-fit:contain;" />
                            </div>
                            <div class="col-7 p-0">
                                <i class="far fa-edit d-block pt-4 pb-4" style="cursor: pointer;"
                                    (click)="file.click()"></i>
                                <i class="far fa-trash-alt d-block" style="cursor: pointer;"
                                    (click)="onRemoveFile()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>เลือกกลุ่มธุรกิจ</label>
                        <label class="text-success float-right" style="cursor: pointer;text-decoration: underline;"
                            (click)="selectAllBusinessGroups()">
                            เลือกทั้งหมด
                        </label>
                        <ng-select class="mt-2" [items]="businessGroupList" [multiple]="true" bindLabel="nameTh"
                            [closeOnSelect]="false" formControlName="businessGroups"
                            [ngClass]="{'is-invalid':(form.get('businessGroups').dirty || submitted) && form.get('businessGroups').invalid}"
                            required>
                        </ng-select>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>ชื่อโพส</label>
                        <input type="text" class="form-control" placeholder="โปรดระบุ" formControlName="titleTh"
                            [class.is-invalid]="(form.get('titleTh').dirty || submitted) && form.get('titleTh').invalid"
                            required>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>รายละเอียด</label>
                        <textarea rows="5" class="form-control" placeholder="โปรดระบุ" formControlName="contentTh"
                            [class.is-invalid]="(form.get('contentTh').dirty || submitted) && form.get('contentTh').invalid"
                            required></textarea>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>ลิ้งค์ URL</label>
                        <input type="text" class="form-control" placeholder="โปรดระบุ" formControlName="url"
                            [class.is-invalid]="(form.get('url').dirty || submitted) && form.get('url').invalid">
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>เลือกหมวดหมู่บทความ</label>
                        <ng-select class="mt-2" [items]="hashtagList" [multiple]="true" bindLabel="nameTh"
                            [closeOnSelect]="false" formControlName="hashtags"
                            [ngClass]="{'is-invalid':(form.get('hashtags').dirty || submitted) && form.get('hashtags').invalid}"
                            required>
                        </ng-select>
                    </div>
                    <div class="col-12 px-0 mb-3 mt-3">
                        <h6>เลือกการเผยแพร่</h6>
                        <mat-radio-group class="row" formControlName="publishStatus"
                            (ngModelChange)="setValidationDate()">
                            <mat-radio-button class="col-12" [value]="1">
                                เผยแพร่ทันที
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" [value]="2">
                                แบบร่าง
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" [value]="3">
                                กำหนวดเวลาเผยแพร่
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="form.get('publishStatus').value===3" class="col-12 px-0 mb-3">
                        <input bsDatepicker type="text" class="form-control d-inline mr-2" style="width: 240px;"
                            placeholder="วันเริ่ม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="dateStart"
                            [class.is-invalid]="(form.get('dateStart').dirty || submitted) && form.get('dateStart').invalid"
                            [required]="form.get('publishStatus').value===3 ? true : false">

                        <input bsDatepicker type="text" class="form-control d-inline" style="width: 240px;"
                            placeholder="วันสิ้นสุด : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="dateEnd"
                            [class.is-invalid]="(form.get('dateEnd').dirty || submitted) && form.get('dateEnd').invalid"
                            [required]="form.get('publishStatus').value===3 ? true : false">
                    </div>
                </div>
            </div>
            <div class="col-5"></div>

            <div class="col-12 my-5">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success btn-block" style="height: 45px;"
                            routerLink="/campaign">กลับ</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-success btn-block" style="height: 45px;"
                            (click)="previewModal=true;">ดูตัวอย่าง</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success btn-block" style="height: 45px;">ยืนยัน</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </form>

        <!-- Form TEST -->
        <form *ngIf="isIndexContent===2" class="row pl-5 pr-3 pt-3 pb-3 mt-3"
            style="background-color: #ffffff;border-radius: 15px;" [formGroup]="form"
            (ngSubmit)="form.valid && submitCreateCampaign(); submitted = true">
            <div class="col-7 mr-4">
                <div class="row">
                    <div class="col-12 px-0 mb-3">
                        <label class="d-block">รูปภาพหน้าประกอบ (1200 x 800 px)</label>
                        <input type="file" name="file" #file (change)="onFileSelected(file)" hidden>
                        <button *ngIf="!form.get('image').value" type="button" class="btn btn-success"
                            (click)="file.click()">
                            + อัพโหลดรูปภาพ
                        </button>
                        <div *ngIf="form.get('image').value" class="row">
                            <div class="col-5">
                                <img class="img-fluid" [src]="getBaseDirFilesServ(form.get('image').value)"
                                    style="width: 400px;height: 266px;border-radius:15px;object-fit:contain;" />
                            </div>
                            <div class="col-7 p-0">
                                <i class="far fa-edit d-block pt-4 pb-4" style="cursor: pointer;"
                                    (click)="file.click()"></i>
                                <i class="far fa-trash-alt d-block" style="cursor: pointer;"
                                    (click)="onRemoveFile()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>เลือกกลุ่มธุรกิจ</label>
                        <label class="text-success float-right" style="cursor: pointer;text-decoration: underline;"
                            (click)="selectAllBusinessGroups()">
                            เลือกทั้งหมด
                        </label>
                        <ng-select class="mt-2" [items]="businessGroupList" [multiple]="true" bindLabel="nameTh"
                            [closeOnSelect]="false" formControlName="businessGroups"
                            [ngClass]="{'is-invalid':(form.get('businessGroups').dirty || submitted) && form.get('businessGroups').invalid}"
                            required>
                        </ng-select>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>ชื่อโพส</label>
                        <input type="text" class="form-control" placeholder="โปรดระบุ" formControlName="titleTh"
                            [class.is-invalid]="(form.get('titleTh').dirty || submitted) && form.get('titleTh').invalid"
                            required>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>รายละเอียด</label>
                        <textarea rows="5" class="form-control" placeholder="โปรดระบุ" formControlName="contentTh"
                            [class.is-invalid]="(form.get('contentTh').dirty || submitted) && form.get('contentTh').invalid"
                            required></textarea>
                    </div>
                    <div *ngFor="let dataQuestion of questionChoice;index as i;" class="col-12 p-3 mb-2"
                        style="border: 1.5px solid #DEE0E0;border-radius: 15px;">
                        <label>คำถาม</label>
                        <button type="button" class="btn btn-danger float-right mb-2 btn-sm"
                            (click)="questionChoice.splice(i, 1);">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <input type="text" class="form-control" [(ngModel)]="dataQuestion.question"
                            [ngModelOptions]="{standalone: true}" placeholder="โปรดระบุ">

                        <div class="form-check mt-2" *ngFor="let choice of dataQuestion.postAnswers;index as j">
                            <input class="form-check-input d-inline mt-2" type="radio" name="question{{i}}"
                                [checked]="choice.isCorrect" (change)="handleChange($event,i,j)">
                            <input type="text" class="form-control d-inline mr-2" style="width:92%"
                                placeholder="โปรดระบุ" [(ngModel)]="choice.answer"
                                [ngModelOptions]="{standalone: true}">
                            <button type="button" class="btn btn-danger d-inline btn-sm"
                                (click)="dataQuestion.postAnswers.splice(j, 1);">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                        <p class="ml-4" style="color: #18A0FB;cursor: pointer;" (click)="addChoice(i)">+ เพิ่มคำตอบ</p>
                    </div>
                    <div class="col-12 text-right mb-3">
                        <p class="ml-4" style="color: #18A0FB;cursor: pointer;" (click)="addQuestion()">+ เพิ่มคำถาม</p>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>เลือกหมวดหมู่บทความ</label>
                        <ng-select class="mt-2" [items]="hashtagList" [multiple]="true" bindLabel="nameTh"
                            [closeOnSelect]="false" formControlName="hashtags"
                            [ngClass]="{'is-invalid':(form.get('hashtags').dirty || submitted) && form.get('hashtags').invalid}"
                            required>
                        </ng-select>
                    </div>
                    <div class="col-12 px-0 mb-3 mt-3">
                        <h6>เลือกการเผยแพร่</h6>
                        <mat-radio-group class="row" formControlName="publishStatus"
                            (ngModelChange)="setValidationDate()">
                            <mat-radio-button class="col-12" [value]="1">
                                เผยแพร่ทันที
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" [value]="2">
                                แบบร่าง
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" [value]="3">
                                กำหนวดเวลาเผยแพร่
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="form.get('publishStatus').value===3" class="col-12 px-0 mb-3">
                        <input bsDatepicker type="text" class="form-control d-inline mr-2" style="width: 240px;"
                            placeholder="วันเริ่ม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="dateStart"
                            [class.is-invalid]="(form.get('dateStart').dirty || submitted) && form.get('dateStart').invalid"
                            [required]="form.get('publishStatus').value===3 ? true : false">

                        <input bsDatepicker type="text" class="form-control d-inline" style="width: 240px;"
                            placeholder="วันสิ้นสุด : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="dateEnd"
                            [class.is-invalid]="(form.get('dateEnd').dirty || submitted) && form.get('dateEnd').invalid"
                            [required]="form.get('publishStatus').value===3 ? true : false">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row p-3 mb-3" style="border: 1.5px solid #DEE0E0;border-radius: 15px;">
                    <div class="col-12 mb-4" style="border-bottom: 1px solid #DEE0E0;">
                        <h6>ตั้งกิจกรรม</h6>
                    </div>
                    <div class="col-12 mb-3">
                        <label>วันเริ่มต้นกิจกรรม</label>
                        <input bsDatepicker type="text" class="form-control"
                            placeholder="วันเริ่มต้นกิจกรรม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="campaignStartDate"
                            [class.is-invalid]="(form.get('campaignStartDate').dirty || submitted) && form.get('campaignStartDate').invalid"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label>วันสิ้นสุดกิจกรรม</label>
                        <input bsDatepicker type="text" class="form-control"
                            placeholder="วันสิ้นสุดกิจกรรม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="campaignEndDate"
                            [class.is-invalid]="(form.get('campaignEndDate').dirty || submitted) && form.get('campaignEndDate').invalid"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label>เกณฑ์คะแนนที่จะให้ผ่านการทดสอบ</label>
                        <input type="number" class="form-control" placeholder="xxxx คะแนน"
                            formControlName="scoreCriteria"
                            [class.is-invalid]="(form.get('scoreCriteria').dirty || submitted) && form.get('scoreCriteria').invalid"
                            required>
                    </div>
                </div>

                <div class="row p-3" style="border: 1.5px solid #DEE0E0;border-radius: 15px;">
                    <div class="col-12 mb-4" style="border-bottom: 1px solid #DEE0E0;">
                        <h6>ตั้งค่าคะแนน</h6>
                    </div>
                    <div class="col-12 mb-3">
                        <label>ระบุจำนวนคนเข้าร่วมกิจกรรม</label>
                        <input type="number" class="form-control" placeholder="xxxx คน" formControlName="quota"
                            [class.is-invalid]="(form.get('quota').dirty || submitted) && form.get('quota').invalid"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label>คะแนนผู้เข้าร่วมกิจกรรม</label>
                        <label *ngIf="form.get('quota').value && form.get('quotaPoint').value"
                            class="float-right fw-bold">
                            คะแนนสุทธิ: {{form.get('quota').value * form.get('quotaPoint').value | number}} คะแนน
                        </label>
                        <input type="number" class="form-control" placeholder="xxxx คะแนน / คน"
                            formControlName="quotaPoint"
                            [class.is-invalid]="(form.get('quotaPoint').dirty || submitted) && form.get('quotaPoint').invalid"
                            required>
                    </div>
                </div>
            </div>
            <div class="col-12 my-5">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success btn-block" style="height: 45px;"
                            routerLink="/campaign">กลับ</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-success btn-block" style="height: 45px;"
                            (click)="previewModal=true;">ดูตัวอย่าง</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success btn-block" style="height: 45px;">ยืนยัน</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </form>

        <!-- Form Survey -->
        <form *ngIf="isIndexContent===3" class="row pl-5 pr-3 pt-3 pb-3 mt-3"
            style="background-color: #ffffff;border-radius: 15px;" [formGroup]="form"
            (ngSubmit)="form.valid && submitCreateCampaign(); submitted = true">
            <div class="col-7 mr-4">
                <div class="row">
                    <div class="col-12 px-0 mb-3">
                        <label class="d-block">รูปภาพหน้าประกอบ (1200 x 800 px)</label>
                        <input type="file" name="file" #file (change)="onFileSelected(file)" hidden>
                        <button *ngIf="!form.get('image').value" type="button" class="btn btn-success"
                            (click)="file.click()">
                            + อัพโหลดรูปภาพ
                        </button>
                        <div *ngIf="form.get('image').value" class="row">
                            <div class="col-5">
                                <img class="img-fluid" [src]="getBaseDirFilesServ(form.get('image').value)"
                                    style="width: 400px;height: 266px;border-radius:15px;object-fit:contain;" />
                            </div>
                            <div class="col-7 p-0">
                                <i class="far fa-edit d-block pt-4 pb-4" style="cursor: pointer;"
                                    (click)="file.click()"></i>
                                <i class="far fa-trash-alt d-block" style="cursor: pointer;"
                                    (click)="onRemoveFile()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>เลือกกลุ่มธุรกิจ</label>
                        <label class="text-success float-right" style="cursor: pointer;text-decoration: underline;"
                            (click)="selectAllBusinessGroups()">
                            เลือกทั้งหมด
                        </label>
                        <ng-select class="mt-2" [items]="businessGroupList" [multiple]="true" bindLabel="nameTh"
                            [closeOnSelect]="false" formControlName="businessGroups"
                            [ngClass]="{'is-invalid':(form.get('businessGroups').dirty || submitted) && form.get('businessGroups').invalid}"
                            required>
                        </ng-select>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>ชื่อโพส</label>
                        <input type="text" class="form-control" placeholder="โปรดระบุ" formControlName="titleTh"
                            [class.is-invalid]="(form.get('titleTh').dirty || submitted) && form.get('titleTh').invalid"
                            required>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>รายละเอียด</label>
                        <textarea rows="5" class="form-control" placeholder="โปรดระบุ" formControlName="contentTh"
                            [class.is-invalid]="(form.get('contentTh').dirty || submitted) && form.get('contentTh').invalid"
                            required></textarea>
                    </div>
                    <div *ngFor="let dataQuestion of questionChoice;index as i;" class="col-12 p-3 mb-2"
                        style="border: 1.5px solid #DEE0E0;border-radius: 15px;">
                        <label>คำถาม</label>
                        <button type="button" class="btn btn-danger float-right mb-2 btn-sm"
                            (click)="questionChoice.splice(i, 1);">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <input type="text" class="form-control" [(ngModel)]="dataQuestion.question"
                            [ngModelOptions]="{standalone: true}" placeholder="โปรดระบุ">
                        <label>ตัวเลือกคำตอบ: </label>
                        <select class="form-control d-inline ml-2 my-2" style="width: 200px;"
                            [(ngModel)]="dataQuestion.postTypeAnswer" [ngModelOptions]="{standalone: true}"
                            (change)="changeAnswerType(dataQuestion.postTypeAnswer,i)">
                            <option [ngValue]="1">ช่องทำเครื่องหมาย</option>
                            <option [ngValue]="2">หลายตัวเลือก</option>
                            <option [ngValue]="3">คำตอบสั้นๆ</option>
                        </select>
                        <div class="form-check mt-2" *ngFor="let choice of dataQuestion.postAnswers;index as j">
                            <input *ngIf="dataQuestion.postTypeAnswer==1" class="form-check-input d-inline mt-2"
                                type="radio" name="question{{i}}" disabled>
                            <input *ngIf="dataQuestion.postTypeAnswer==2" class="form-check-input d-inline mt-2"
                                type="checkbox" id="question{{i}}" disabled>
                            <input type="text" class="form-control d-inline mr-2" style="width:92%"
                                placeholder="โปรดระบุ" [(ngModel)]="choice.answer"
                                [ngModelOptions]="{standalone: true}">
                            <button type="button" class="btn btn-danger d-inline btn-sm"
                                (click)="dataQuestion.postAnswers.splice(j, 1);">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                        <p *ngIf="dataQuestion.postTypeAnswer!==3" class="ml-4" style="color: #18A0FB;cursor: pointer;"
                            (click)="addChoice(i)">
                            + เพิ่มคำตอบ
                        </p>
                    </div>
                    <div class="col-12 text-right mb-3">
                        <p class="ml-4" style="color: #18A0FB;cursor: pointer;" (click)="addQuestion()">+ เพิ่มคำถาม</p>
                    </div>
                    <div class="col-12 px-0 mb-3">
                        <label>เลือกหมวดหมู่บทความ</label>
                        <ng-select class="mt-2" [items]="hashtagList" [multiple]="true" bindLabel="nameTh"
                            [closeOnSelect]="false" formControlName="hashtags"
                            [ngClass]="{'is-invalid':(form.get('hashtags').dirty || submitted) && form.get('hashtags').invalid}"
                            required>
                        </ng-select>
                    </div>
                    <div class="col-12 px-0 mb-3 mt-3">
                        <h6>เลือกการเผยแพร่</h6>
                        <mat-radio-group class="row" formControlName="publishStatus"
                            (ngModelChange)="setValidationDate()">
                            <mat-radio-button class="col-12" [value]="1">
                                เผยแพร่ทันที
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" [value]="2">
                                แบบร่าง
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" [value]="3">
                                กำหนวดเวลาเผยแพร่
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="form.get('publishStatus').value===3" class="col-12 px-0 mb-3">
                        <input bsDatepicker type="text" class="form-control d-inline mr-2" style="width: 240px;"
                            placeholder="วันเริ่ม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="dateStart"
                            [class.is-invalid]="(form.get('dateStart').dirty || submitted) && form.get('dateStart').invalid"
                            [required]="form.get('publishStatus').value===3 ? true : false">

                        <input bsDatepicker type="text" class="form-control d-inline" style="width: 240px;"
                            placeholder="วันสิ้นสุด : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="dateEnd"
                            [class.is-invalid]="(form.get('dateEnd').dirty || submitted) && form.get('dateEnd').invalid"
                            [required]="form.get('publishStatus').value===3 ? true : false">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row p-3 mb-3" style="border: 1.5px solid #DEE0E0;border-radius: 15px;">
                    <div class="col-12 mb-4" style="border-bottom: 1px solid #DEE0E0;">
                        <h6>ตั้งกิจกรรม</h6>
                    </div>
                    <div class="col-12 mb-3">
                        <label>วันเริ่มต้นกิจกรรม</label>
                        <input bsDatepicker type="text" class="form-control"
                            placeholder="วันเริ่มต้นกิจกรรม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="campaignStartDate"
                            [class.is-invalid]="(form.get('campaignStartDate').dirty || submitted) && form.get('campaignStartDate').invalid"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label>วันสิ้นสุดกิจกรรม</label>
                        <input bsDatepicker type="text" class="form-control"
                            placeholder="วันสิ้นสุดกิจกรรม : dd/mm/yyyy"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false}"
                            formControlName="campaignEndDate"
                            [class.is-invalid]="(form.get('campaignEndDate').dirty || submitted) && form.get('campaignEndDate').invalid"
                            required>
                    </div>
                </div>

                <div class="row p-3" style="border: 1.5px solid #DEE0E0;border-radius: 15px;">
                    <div class="col-12 mb-4" style="border-bottom: 1px solid #DEE0E0;">
                        <h6>ตั้งค่าคะแนน</h6>
                    </div>
                    <div class="col-12 mb-3">
                        <label>ระบุจำนวนคนเข้าร่วมกิจกรรม</label>
                        <input type="number" class="form-control" placeholder="xxxx คน" formControlName="quota"
                            [class.is-invalid]="(form.get('quota').dirty || submitted) && form.get('quota').invalid"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <label>คะแนนผู้เข้าร่วมกิจกรรม</label>
                        <label *ngIf="form.get('quota').value && form.get('quotaPoint').value"
                            class="float-right fw-bold">
                            คะแนนสุทธิ: {{form.get('quota').value * form.get('quotaPoint').value | number}} คะแนน
                        </label>
                        <input type="number" class="form-control" placeholder="xxxx คะแนน / คน"
                            formControlName="quotaPoint"
                            [class.is-invalid]="(form.get('quotaPoint').dirty || submitted) && form.get('quotaPoint').invalid"
                            required>
                    </div>
                </div>
            </div>
            <div class="col-12 my-5">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success btn-block" style="height: 45px;"
                            routerLink="/campaign">กลับ</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-success btn-block" style="height: 45px;"
                            (click)="previewModal=true;">ดูตัวอย่าง</button>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success btn-block" style="height: 45px;">ยืนยัน</button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div bsModal #previewCampaignModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-3">
                    <div class="col-12 text-center mb-3">
                        <h5 style="display: inline;">ตัวอย่างแคมเปญ</h5>
                        <i class="fas fa-times float-right mt-1" style="cursor: pointer;"
                            (click)="previewCampaignModal.hide();"></i><br>
                    </div>
                    <div class="col-12 text-center mb-3"> 
                        <h6>มุมมองมือถือ</h6>
                        <small>(Resolution 375 x 812)</small>
                    </div>
                    <div class="col-12 mb-3">
                        <img class="img-fluid" [src]="getBaseDirFilesServ(form.get('image').value)"
                            style="height: 210px;border-radius:15px;object-fit:contain;" />
                    </div>
                    <div class="col-12 mb-3">
                        <h6>{{form.get('titleTh').value}}</h6>
                        <small>{{form.get('contentTh').value}}</small>
                    </div>
                    <div *ngIf="form.get('hashtags').value" class="col-12 mb-3">
                        <span *ngFor="let hastag of form.get('hashtags').value;index as i;" class="p-2 mr-2"
                            style="background-color: #DBECEB;font-size: 10px;border-radius: 5px;">
                            {{hastag.nameTh}}
                        </span>
                    </div>
                    <div *ngIf="questionChoice.length && this.form.get('postTypeId').value!==1" class="col-12 mb-3">
                        <div *ngFor="let dataQuestion of questionChoice;index as i;" class="row mb-3">
                            <div class="col-12">
                                <h6 class="mb-0">{{dataQuestion.question || '-'}}</h6>
                            </div>
                            <div class="col-12">
                                <div class="form-check" *ngFor="let choice of dataQuestion.postAnswers;index as j">
                                    <input *ngIf="dataQuestion.postTypeAnswer==1" class="form-check-input d-inline mt-2"
                                        type="radio" name="question{{j}}" disabled>
                                    <input *ngIf="dataQuestion.postTypeAnswer==2" class="form-check-input d-inline mt-2"
                                        type="checkbox" id="question{{i}}" disabled>
                                    <textarea *ngIf="dataQuestion.postTypeAnswer==3" class="form-control" rows="2"
                                        disabled></textarea>
                                    <span>{{choice.answer}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-5">
                        <button type="button" class="btn btn-outline-success btn-block" style="height: 45px;"
                            (click)="previewCampaignModal.hide();">ปิดการแสดงตัวอย่าง</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>