<div class="content-header" style="background-color: #f9f9f9;">
    <div class="container-fluid vh-100" style="padding:1% 2% 0% 2%;">

        <div class="row">
            <div class="col-12 mb-3">
                <h5>สร้าง Master Data</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12" *ngFor="let createMaster of createMasterDataList">
                <div class="card" style="cursor: pointer;" [routerLink]="createMaster.router">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex flex-column justify-content-center">
                                <h5>{{createMaster.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>