<div class="content-header" style="background-color: #f9f9f9;">
    <div class="container-fluid" style="padding:1% 2% 0% 2%;">

        <div class="row">
            <div class="col-12 mb-3">
                <h5 class="mb-0">ภาพรวมคะแนนในระบบ</h5>
                <select class="form-control float-right" style="display: inline;width: 180px;"
                    [(ngModel)]="search.monthYear" (change)="getAllSearchDataDashboard()">
                    <option [ngValue]="null" selected>-- เลือกระยะเวลา --</option>
                    <option *ngFor="let data of dataMonthYearList" [ngValue]="data">
                        {{month[data.month]}} {{data.year}}
                    </option>
                </select>
            </div>
            <div class="col mb-3 pl-0">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #82DBCE;border-radius: 19px;">
                        <i class="far fa-arrow-alt-circle-up"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-6">
                                <span class="info-box-text">Earn Point เดือนนี้</span>
                                <span class="info-box-number">{{dataEarnBurn.earnThisMonth | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                            <div class="col-6 border-left">
                                <span class="info-box-text">Earn Point ทั้งหมด</span>
                                <span class="info-box-number">{{dataEarnBurn.earnTotal | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #FF8888;border-radius: 19px;">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-6">
                                <span class="info-box-text">Burn Point เดือนนี้</span>
                                <span class="info-box-number">{{dataEarnBurn.burnThisMonth | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                            <div class="col-6 border-left">
                                <span class="info-box-text">Burn Point ทั้งหมด</span>
                                <span class="info-box-number">{{dataEarnBurn.burnTotal | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3 mb-3 pr-0">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #7ED9BC;border-radius: 19px;">
                        <i class="far fa-envelope"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">คะแนนในระบบทั้งหมด</span>
                                <span class="info-box-number">10,000,000</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row p-3 mb-3" style="background-color:#ffffff ;border-radius: 15px;">
            <div class="col-12 mb-2">
                <h5>จำนวนการเข้าใช้งาน</h5>
                <h4 class="mb-0 mr-2 d-inline">{{numAccess | number}}</h4>
                <small>คน</small>
            </div>
            <div class="col-12" *ngIf="!isChart" style="height: 206px;"></div>
            <div class="col-12" *ngIf="isChart">
                <canvas baseChart height="50" [datasets]="chartDataSets" [labels]="chartLabels" [options]="chartOptions"
                    [legend]="false" [type]="'line'">
                </canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-3 mr-3 p-3" style="background-color:#ffffff ;border-radius: 15px;">
                <h5>แคมเปญทั้งหมด</h5>
                <div class="row p-3">
                    <div class="col-12  pt-3 pb-3 pl-4 mb-5" style="background-color: #CFF4E9;border-radius: 15px;">
                        <h5>จำนวนแคมเปญ</h5>
                        <h3 class="mb-0 mr-2 d-inline">{{dataCampaign.totalPosts | number}}</h3>
                        <small>โพส</small>
                    </div>
                    <div class="col-12 pb-2" style="border-bottom: 1px solid #DEE0E0;">
                        <div class="row">
                            <div class="col-4">
                                <i class="far fa-thumbs-up p-4"
                                    style="background-color: #82DBCE;border-radius: 19px;"></i>
                            </div>
                            <div class="col">
                                <small style="display: block;">จำนวนอ่าน</small>
                                <h3 style="margin-top:0.5rem;">{{dataCampaign.totalViews | number}}</h3>
                                <small style="display: block;">ครั้ง</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-2 pt-3" style="border-bottom: 1px solid #DEE0E0;">
                        <div class="row">
                            <div class="col-4">
                                <i class="far fa-comment-dots p-4"
                                    style="background-color: #82DBCE;border-radius: 19px;"></i>
                            </div>
                            <div class="col">
                                <small style="display: block;">จำนวนคอมเมนต์</small>
                                <h3 style="margin-top:0.5rem;">{{dataCampaign.totalComments | number}}</h3>
                                <small style="display: block;">ครั้ง</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-2 pt-3" style="border-bottom: 1px solid #DEE0E0;">
                        <div class="row">
                            <div class="col-4">
                                <i class="far fa-hand-point-up p-4"
                                    style="background-color: #82DBCE;border-radius: 19px;"></i>
                            </div>
                            <div class="col">
                                <small style="display: block;">จำนวนไลค์</small>
                                <h3 style="margin-top:0.5rem;">{{dataCampaign.totalLikes | number}}</h3>
                                <small style="display: block;">ครั้ง</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-2 pt-3">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-share-alt p-4"
                                    style="background-color: #82DBCE;border-radius: 19px;"></i>
                            </div>
                            <div class="col">
                                <small style="display: block;">จำนวนแชร์</small>
                                <h3 style="margin-top:0.5rem;">{{dataCampaign.totalShares | number}}</h3>
                                <small style="display: block;">ครั้ง</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col p-3" style="background-color:#ffffff ;border-radius: 15px;">
                <h5>ดีลยอดนิยม</h5>
                <label class="pb-3">ที่ได้รับการแลกรับสิทธิ์มากที่สุด</label>
                <div *ngFor="let data of dataDealList;index as i;" class="row px-3">
                    <div class="col-8 pb-3 pt-3"
                        [ngStyle]="dataDealList.length-1 > i ? {borderBottom: '1px solid #DEE0E0'} : {}">
                        <label>{{data.voucher.name}}</label><br>
                        <small>{{data.voucher.voucherCatalog.nameTh}}</small>
                    </div>
                    <div class="col-4 pb-3 pt-3 text-right"
                        [ngStyle]="dataDealList.length-1 > i ? {borderBottom: '1px solid #DEE0E0'} : {}">
                        <label>{{data.voucher.quotaUsed | number}}</label><br>
                        <small>แลกรับสิทธิ์ทั้งหมด</small>
                    </div>
                </div>
                <div *ngIf="!dataDealList.length" class="row text-center">
                    <label> -- ไม่พบข้อมูล --</label>
                </div>
            </div>

            <div class="col-3 ml-3 p-3" style="background-color:#ffffff ;border-radius: 15px;">
                <h5>จัดอันดับผู้ใช้งาน</h5>
                <label class="pb-3">ที่มีส่วนร่วมในระบบมากที่สุด</label>
                <div *ngFor="let data of dataUserRankList;index as i;" class="row px-3">
                    <div class="col-3 pb-3 pt-3"
                        [ngStyle]="dataUserRankList.length-1 > i ? {borderBottom: '1px solid #DEE0E0'} : {}">
                        <img class="img-fluid mt-2"
                            [src]="data.customer.profileImage ? getBaseDirFilesServ(data.customer.profileImage) : 'assets/img/default-profile.png'"
                            style="width: 46px;height: 46px;border-radius: 15px;">
                    </div>
                    <div class="col-9 pb-3 pt-3"
                        [ngStyle]="dataUserRankList.length-1 > i ? {borderBottom: '1px solid #DEE0E0'} : {}">
                        <label class="d-block">
                            {{data.customer.name}}
                            <small class="d-block">{{data.customer.businessGroup.nameTh}}</small>
                        </label>
                        <h4>+{{data.customer.balancePoint | number}} point</h4>
                    </div>
                </div>
                <div *ngIf="!dataUserRankList.length" class="row text-center">
                    <label> -- ไม่พบข้อมูล --</label>
                </div>
            </div>
        </div>

    </div>
</div>