<!-- Brand Logo -->
<!-- [routerLink]="['/']" -->
<a class="brand-link logo-switch" style="border-bottom:0px;">
    <!-- <img src="assets/img/CP-Group-logo 1.svg" alt="Logo" class="brand-image" style="opacity: .8" /> -->
    <img src="assets/img/mainlogo.jpg" alt="Logo" class="brand-image" style="opacity: .8;width: 29px;height: auto;" />
    <h6 class="brand-text font-weight-light d-inline">E-Meeting</h6>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
            <li class="nav-item">
                <a routerLink="/meeting-management" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-file-alt mr-2"></i>
                    <p> Meeting Management </p>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/annual-report" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-chart-line mr-2"></i>
                    <p> Annual Report </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" (click)="logout()" class="nav-link">
                    <i class="nav-icon fa fa-sign-out-alt mr-2"></i>
                    <p>ออกจากระบบ</p>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a routerLink="/campaign" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-fire-alt mr-2"></i>
                    <p> Notification </p>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/campaign" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-fire-alt mr-2"></i>
                    <p> Meeting Archives </p>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/campaign" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-fire-alt mr-2"></i>
                    <p> Archives </p>
                </a>
            </li> -->

            <!-- <li class="nav-item">
                <a routerLink="/campaign" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-fire-alt mr-2"></i>
                    <p> Company Document </p>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/campaign" routerLinkActive="active" class="nav-link">
                    <i class="nav-icon fas fa-fire-alt mr-2"></i>
                    <p> Setting </p>
                </a>
            </li> -->

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>