.info-box {
    border-radius: 15px;
    box-shadow: 0 0 0px;
}

.info-box-content {
    line-height: 1.5 !important;
}

.card {
    box-shadow: none;
}

.info-box-number {
    font-weight: bolder !important;
    font-size: x-large !important;
    font-family: 'Prompt-SemiBold' !important;
    font-size: xx-large !important;
}

.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}
