<div class="content-header" style="background-color: #f9f9f9;">
    <div class="container-fluid" style="padding:1% 2% 0% 2%;">

        <div class="row">
            <div class="col-12 mb-3">
                <label>รายละเอียดข้อมูล</label><br>
                <h5>{{dataCustomerById.name || '-'}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #86D8AC;border-radius: 19px;">
                        <i class="fab fa-product-hunt"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">Point ปัจจุบัน</span>
                                <span class="info-box-number">{{dataCustomerById.balancePoint | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #82DBCE;border-radius: 19px;">
                        <i class="far fa-arrow-alt-circle-up"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">Earn Point ปีนี้</span>
                                <span class="info-box-number">{{dataSumPointCurrentYear.earn | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #FF8888;border-radius: 19px;">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">Burn Point ปีนี้</span>
                                <span class="info-box-number">{{dataSumPointCurrentYear.burn | number}}</span>
                                <span class="info-box-text">คะแนน</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-2 text-center p-0" style="cursor: pointer;" (click)="changeTabs(1)">
                <div class="trapezoid " [ngStyle]=" isIndexTab===1 ? {borderBottom: '50px solid #ffffff'} : {}">
                    <h6 class="pt-3">ข้อมูลทั่วไป</h6>
                </div>
            </div>
            <div class="col-2 text-center p-0" style="cursor: pointer;" (click)="changeTabs(2)">
                <div class="trapezoid" [ngStyle]=" isIndexTab===2 ? {borderBottom: '50px solid #ffffff'} : {}">
                    <h6 class="pt-3">ประวัติคะแนน</h6>
                </div>
            </div>
            <div class="col-2 text-center p-0" style="cursor: pointer;" (click)="changeTabs(3)">
                <div class="trapezoid" [ngStyle]=" isIndexTab===3 ? {borderBottom: '50px solid #ffffff'} : {}">
                    <h6 class="pt-3">ค่านิยมเครือ</h6>
                </div>
            </div>
            <div class="col-8"></div>
            <div *ngIf="isIndexTab===1" class="col-12 p-5" style="background-color: #ffffff;">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h5>ข้อมูลทั่วไป</h5>
                    </div>
                    <div class="col-2">
                        <h6>บริษัท</h6>
                    </div>
                    <div class="col-10"> <label> {{dataCustomerById.businessGroup.nameTh || '-'}}</label> </div>

                    <div class="col-2">
                        <h6>รหัสพนักงาน</h6>
                    </div>
                    <div class="col-10"> <label> - </label> </div>

                    <div class="col-2">
                        <h6>ชื่อ - สกุล</h6>
                    </div>
                    <div class="col-10"> <label> {{dataCustomerById.name || '-'}} </label> </div>

                    <div class="col-2">
                        <h6>ตำแหน่ง</h6>
                    </div>
                    <div class="col-10"> <label> -</label> </div>

                    <div class="col-2">
                        <h6>เบอร์ติดต่อภายใน</h6>
                    </div>
                    <div class="col-10"> <label> {{dataCustomerById.tel || '-'}} </label> </div>

                    <div class="col-2">
                        <h6>อีเมล</h6>
                    </div>
                    <div class="col-10"> <label> {{dataCustomerById.email || '-'}} </label> </div>

                    <div class="col-2">
                        <h6>ที่อยู่ในการจัดส่งของ</h6>
                    </div>
                    <div class="col-10">
                        <label>
                            {{dataCustomerById.address && dataCustomerById.district.nameTh &&
                            dataCustomerById.amphur.nameTh && dataCustomerById.province.nameTh &&
                            dataCustomerById.district.zipCode ? dataCustomerById.address + ' ' +
                            dataCustomerById.district.nameTh + ' ' + dataCustomerById.amphur.nameTh + ' ' +
                            dataCustomerById.province.nameTh + ' ' + dataCustomerById.district.zipCode : '-'}}
                        </label>
                    </div>
                </div>
            </div>

            <div *ngIf="isIndexTab===2" class="col-12 p-5" style="background-color: #ffffff;">
                <div class="row">
                    <div class="col-12 mb-3">
                        <span class="mr-2">ตัวกรอง :</span>
                        <select class="form-control mr-2" style="display: inline;width: 220px;"
                            [(ngModel)]="search.transactionTypeId" (change)="getAllSearchTransaction()">
                            <option [ngValue]="null" selected>-- เลือกการประเภทคะแนน --</option>
                            <option [ngValue]="1">รับคะแนน</option>
                            <option [ngValue]="2">ใช้คะแนน</option>
                        </select>
                        <select class="form-control mr-2" style="display: inline;width: 220px;"
                            [(ngModel)]="search.direction" (change)="getAllSearchTransaction()">
                            <option [ngValue]="null" selected>-- เลือกการจัดเรียง --</option>
                            <option [ngValue]="'desc'">ใหม่ล่าสุด</option>
                            <option [ngValue]="'asc'">เก่าล่าสุด</option>
                        </select>
                        <input type="text" class="form-control" style="display: inline;width: 240px;" bsDaterangepicker
                            placeholder="-- เลือกวันที่เกิดรายการ --" name="dateSearch" #dpr="bsDaterangepicker"
                            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-green'}"
                            (bsValueChange)="onDateChange($event)">
                        <input (keyup)="applyFilter($event.target.value)" type="text" class="form-control float-right"
                            style="display: inline;width: 250px;" placeholder="ค้นหา" />
                    </div>
                    <div class="col-12">
                        <div class="table table-responsive frame" style="min-height: 200px;max-height: 525px;">
                            <table mat-table [dataSource]="dataSource" matSort>

                                <ng-container matColumnDef="listName">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">
                                        ชื่อรายการ
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="min-width: 120px;vertical-align: middle;">
                                        {{element.transactionTypeId===1 ? element.comment : element.voucher.name ||
                                        '-'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="type">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">
                                        ประเภท
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="max-width: 120px; width: 120px;vertical-align: middle;">
                                        <label *ngIf="element.transactionTypeId===1"
                                            style="color: #47CA9B;">รับคะแนน</label>
                                        <label *ngIf="element.transactionTypeId===2"
                                            style="color: #F01C31;">ใช้คะแนน</label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="point">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">
                                        จำนวนคะแนน
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="max-width: 120px; width: 120px;vertical-align: middle;">
                                        {{element.point | number}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="create">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">
                                        วันที่เกิดรายการ
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="max-width: 120px; width: 120px;vertical-align: middle;">
                                        {{element.create | date:'dd/MM/yy'}}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="dspColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: dspColumns;"></tr>
                            </table>
                            <div *ngIf="dataSource.data.length === 0" class="pt-5 text-center">
                                <label> -- ไม่พบข้อมูล --</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div>
                            <button type="button" (click)="getAllSearchTransaction()" class="btn float-left mt-2"><i
                                    class="fa fa-refresh" aria-hidden="true"></i></button>
                            <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isIndexTab===3" class="col-12 p-5" style="background-color: #ffffff;">
                <div class="row mb-3">
                    <div class="col-12">
                        <h5>คะแนนค่านิยมเครือ</h5>
                        <label>ข้อมูลค่านิยมเครือของพนักงานปีล่าสุด</label>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex flex-wrap">
                        <div *ngFor="let dataVoteType of dataVoteTypeList;index as i;"
                            class="box-vote text-center mr-2 mb-2 px-1">
                            <i class="fa-2x mb-2 p-2" [class]="dataVoteType.icon"
                                style="border-radius: 7px;margin-top: 20px;"
                                [ngStyle]="{background: dataVoteType.backgroundColor}"></i><br>
                            <span class="text-one-line" style="cursor: pointer;"
                                [title]="dataVoteType.name">{{dataVoteType.name}}</span><br>
                            <h5>{{dataVoteType.count | number}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>