<div class="content-header" style="background-color: #f9f9f9;">
    <div class="container-fluid" style="padding:1% 2% 0% 2%;">

        <div class="row">
            <div class="col-12 mb-3">
                <label>รายละเอียดข้อมูล</label>
                <button type="button" class="btn btn-danger float-right" style="width: 269px;height: 45px;"
                    (click)="openDeleteModal(id)">
                    ลบข้อมูล
                </button>
                <br>
                <h5>{{dataPostById.titleTh || '-'}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #94EFD2;border-radius: 19px;">
                        <i class="far fa-hand-point-up"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">จำนวนอ่าน</span>
                                <span class="info-box-number">{{dataPostById.viewsCounter | number}}</span>
                                <span class="info-box-text">ครั้ง</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #94EFD2;border-radius: 19px;">
                        <i class="far fa-thumbs-up"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">จำนวนไลค์</span>
                                <span class="info-box-number">{{dataPostById.likesCounter | number}}</span>
                                <span class="info-box-text">ครั้ง</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #94EFD2;border-radius: 19px;">
                        <i class="far fa-comment-dots"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">จำนวนคอมเมนต์</span>
                                <span class="info-box-number">{{dataPostById.commentsCounter | number}}</span>
                                <span class="info-box-text">ครั้ง</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #94EFD2;border-radius: 19px;">
                        <i class="fas fa-share-alt"></i>
                    </span>
                    <div class="info-box-content">
                        <div class="row">
                            <div class="col-12">
                                <span class="info-box-text">จำนวนแชร์</span>
                                <span class="info-box-number">{{dataPostById.sharesCounter | number}}</span>
                                <span class="info-box-text">ครั้ง</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-2 text-center p-0" style="cursor: pointer;" (click)="changeTabs(1)">
                <div class="trapezoid " [ngStyle]=" isIndexTab===1 ? {borderBottom: '50px solid #ffffff'} : {}">
                    <h6 class="pt-3">ข้อมูลทั่วไป</h6>
                </div>
            </div>
            <div class="col-2 text-center p-0" style="cursor: pointer;" (click)="changeTabs(2)">
                <div class="trapezoid" [ngStyle]=" isIndexTab===2 ? {borderBottom: '50px solid #ffffff'} : {}">
                    <h6 class="pt-3">จัดการคอมเมนต์</h6>
                </div>
            </div>
            <div class="col-8"></div>
            <div *ngIf="isIndexTab===1" class="col-12 p-5" style="background-color: #ffffff;">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h5 class="d-inline">ข้อมูลทั่วไป</h5>
                        <button type="button" class="btn btn-outline-success float-right"
                            style="width: 269px;height: 45px;" routerLink="/campaign/edit/{{id}}">
                            แก้ไขข้อมูล
                        </button>
                    </div>
                    <div class="col-2">
                        <h6>สถานะโพส</h6>
                    </div>
                    <div class="col-10">
                        <label>
                            {{dataPostById.publishStatus==1 ?
                            'เผยแพร่ทันที' : dataPostById.publishStatus==2 ?
                            'แบบร่าง' : dataPostById.publishStatus==3 ?
                            'กำหนวดเวลาเผยแพร่' : '-'}}
                        </label>
                    </div>
                    <div class="col-2">
                        <h6>ชื่อโพส</h6>
                    </div>
                    <div class="col-10">
                        <label>{{dataPostById.titleTh || '-'}}</label>
                    </div>
                    <div class="col-2">
                        <h6>ประเภท</h6>
                    </div>
                    <div class="col-10">
                        <i *ngIf="dataPostById.postTypeId === 1" class="fas fa-bullhorn p-1 mr-2"
                            style="background-color: #6271FF;border-radius: 5px;"></i>
                        <i *ngIf="dataPostById.postTypeId === 2" class="far fa-file-alt p-1 mr-2"
                            style="background-color: #E97A3C;border-radius: 5px;"></i>
                        <i *ngIf="dataPostById.postTypeId === 3" class="far fa-file-image p-1 mr-2"
                            style="background-color: #D7F328;border-radius: 5px;"></i>
                        {{dataPostById.postTypeId === 1 ? 'Post'
                        : dataPostById.postTypeId === 2 ? 'Test'
                        : dataPostById.postTypeId === 3 ? 'Survey' : '-'}}
                    </div>
                    <div class="col-2">
                        <h6>รายละเอียด</h6>
                    </div>
                    <div class="col-10">
                        <label>{{dataPostById.contentTh || '-'}}</label>
                    </div>
                    <div class="col-2">
                        <h6>วันที่เผยแพร่</h6>
                    </div>
                    <div class="col-10">
                        <label>-</label>
                    </div>
                    <div *ngIf="dataPostById.postTypeId === 2 || dataPostById.postTypeId === 3" class="col-2">
                        <h6>วันเริ่มต้น - สิ้นสุด</h6>
                    </div>
                    <div class="col-10" *ngIf="dataPostById.postTypeId === 2 || dataPostById.postTypeId === 3">
                        <label *ngIf="dataPostById.campaignStartDate && dataPostById.campaignEndDate">
                            {{dataPostById.campaignStartDate | date:'dd/MM/yy'}}
                            - {{dataPostById.campaignEndDate | date:'dd/MM/yy'}}
                        </label>
                    </div>
                    <div class="col-2">
                        <h6>คะแนน</h6>
                    </div>
                    <div class="col-10">
                        <label>จำนวนผู้เข้าร่วมกิจกรรม {{dataPostById.quota | number}} คน</label><br>
                        <label>คะแนน {{dataPostById.quotaPoint | number}} คะแนน/คน || คะแนนสุทธิ
                            {{dataPostById.quota * dataPostById.quotaPoint | number}} คะแนน</label>
                    </div>
                    <div class="col-2">
                        <h6>อัพเดทล่าสุด</h6>
                    </div>
                    <div class="col-10">
                        <label>{{dataPostById.update | date:'dd/MM/yy'}}</label>
                    </div>
                </div>
            </div>

            <div *ngIf="isIndexTab===2" class="col-12 p-5" style="background-color: #ffffff;">
                <div class="row">
                    <div class="col-12 mb-3">
                        <span class="mr-2">ตัวกรอง :</span>
                        <select class="form-control mr-2" style="display: inline;width: 220px;"
                            [(ngModel)]="search.direction" (change)="getAllSearchPostCommentByAdmin()">
                            <option [ngValue]="null" selected>-- เลือกการจัดเรียง --</option>
                            <option [ngValue]="'desc'">ใหม่ล่าสุด</option>
                            <option [ngValue]="'asc'">เก่าล่าสุด</option>
                        </select>

                        <input (keyup)="applyFilter($event.target.value)" type="text" class="form-control float-right"
                            style="display: inline;width: 250px;" placeholder="ค้นหา" />
                    </div>
                    <div class="col-12">
                        <div class="table table-responsive frame" style="min-height: 100px;max-height: 525px;">
                            <table mat-table [dataSource]="dataSource" matSort>

                                <ng-container matColumnDef="comment">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">
                                        คอมเมนต์
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="min-width: 120px;vertical-align: middle;">
                                        {{element.comment || '-'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="isShow">
                                    <th mat-header-cell *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">
                                        สถานะ
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="max-width: 120px; width: 120px;vertical-align: middle;">
                                        <label *ngIf="element.isShow" class="p-2"
                                            style="background-color: #A2F1D9;border-radius: 10px;">เผยแพร่</label>
                                        <label *ngIf="!element.isShow" class="p-2"
                                            style="background-color: #E9E9E9;border-radius: 10px;">หยุดเผยแพร่</label>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="btnManage">
                                    <th mat-header-cell *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2"></th>
                                    <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                        style="max-width: 60px; width: 60px;vertical-align: middle;">
                                        <button type="button" class="btn btn-light" data-toggle="dropdown">
                                            <i class="fas fa-ellipsis-v" style="cursor: pointer;"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a *ngIf="!element.isShow" class="dropdown-item" style="cursor:pointer;"
                                                (click)="changeStatusCommentShowandHide(element)">
                                                เผยแพร่
                                            </a>
                                            <a *ngIf="element.isShow" class="dropdown-item" style="cursor:pointer;"
                                                (click)="changeStatusCommentShowandHide(element)">
                                                หยุดเผยแพร่
                                            </a>
                                            <a class="dropdown-item text-danger" style="cursor:pointer;"
                                                (click)="openDeleteCommentModal(element)">
                                                ลบข้อมูล
                                            </a>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="dspColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: dspColumns;"></tr>
                            </table>
                            <div *ngIf="dataSource.data.length === 0" class="pt-5 text-center">
                                <label> -- ไม่พบข้อมูล --</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div>
                            <button type="button" (click)="getAllSearchPostCommentByAdmin()"
                                class="btn float-left mt-2"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                            <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #removeModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-3">
                    <div class="col-12 mb-3">
                        <h5 style="display: inline;">ยืนยันการลบแคมเปญ</h5>
                        <i class="fas fa-times float-right mt-1" style="cursor: pointer;"
                            (click)="removeModal.hide();"></i><br>
                    </div>
                    <div class="col-12 mb-3">
                        <h6 class="d-inline">ต้องการลบแคมเปญ ? </h6>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-outline-success btn-block"
                            (click)="removeModal.hide()">ยกเลิก</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-danger btn-block" (click)="submitDelete()">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #removeCommentModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-3">
                    <div class="col-12 mb-3">
                        <h5 style="display: inline;">ยืนยันการลบคอมเมนต์</h5>
                        <i class="fas fa-times float-right mt-1" style="cursor: pointer;"
                            (click)="removeCommentModal.hide();"></i><br>
                    </div>
                    <div class="col-12 mb-3">
                        <h6 class="d-inline">ข้อความคอมเมนต์ : </h6>
                        <label>{{dataCommentDelete.comment}}</label>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-outline-success btn-block"
                            (click)="removeCommentModal.hide();">ยกเลิก</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-danger btn-block"
                            (click)="submitDeleteComment()">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>