<div class="content-header" style="background-color: #f9f9f9;">
    <div class="container-fluid vh-100" style="padding:1% 2% 0% 2%;">

        <div class="row">
            <div class="col-12 mb-3">
                <h5>แฮชแท็ก</h5>
            </div>
            <div class="col-12 mb-3">
                <h5 class="d-inline mr-3">รายการข้อมูลทั้งหมด</h5>
                <button type="button" class="btn btn-success" style="width: 188px;"
                    routerLink="/setup/master-data/hashtags/create">+ สร้างใหม่</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <span class="mr-2">ตัวกรอง: </span>
                                <select class="form-control" style="display: inline;width: 220px;"
                                    [(ngModel)]="search.direction" (change)="getHashtagsList()">
                                    <option [ngValue]="null" selected>-- เลือกการจัดเรียง --</option>
                                    <option [ngValue]="'desc'">ใหม่ล่าสุด</option>
                                    <option [ngValue]="'asc'">เก่าล่าสุด</option>
                                </select>
                                <input (keyup)="applyFilter($event.target.value)" type="text"
                                    class="form-control float-right" style="display: inline;width: 250px;"
                                    placeholder="ค้นหา" />
                            </div>
                            <div *ngIf="this.selection.selected.length" class="col-12 mb-2">
                                <label class="ml-3">
                                    {{this.selection.selected.length ? this.selection.selected.length : 0}}
                                    ข้อมูลที่เลือก
                                </label>
                                <button type="button" class="btn btn-danger float-right" (click)="removeDataListModal.show()">
                                    ลบ
                                </button>
                            </div>
                            <div class="col-12">
                                <div class="table table-responsive frame" style="min-height: 200px;max-height: 525px;">
                                    <table mat-table [dataSource]="dataSource" matSort>

                                        <ng-container matColumnDef="select">
                                            <th mat-header-cell *matHeaderCellDef class="pl-3 pr-1 pt-4 pb-2"
                                                style="max-width: 80px; width: 80px;">
                                                <mat-checkbox (change)="$event ? masterToggle() : null;"
                                                    [checked]="selection.hasValue() && isAllSelected()"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                                </mat-checkbox>
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="pl-3 pr-1 pt-4 pb-2"
                                                style="max-width: 80px; width: 80px;">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null;"
                                                    [checked]="selection.isSelected(row)">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="nameTh">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef
                                                class="pl-3 pr-1 pt-2 pb-2">
                                                ชื่อข้อมูล
                                            </th>
                                            <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                                style="min-width: 120px;vertical-align: middle;">
                                                {{element.nameTh || '-'}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="create">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef
                                                class="pl-3 pr-1 pt-2 pb-2">
                                                วันที่สร้าง
                                            </th>
                                            <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                                style="max-width: 150px; width: 150px;vertical-align: middle;">
                                                {{element.create | date:'dd/MM/yy'}} <br>
                                                {{element.create | date:'HH:mm'}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="update">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef
                                                class="pl-3 pr-1 pt-2 pb-2">
                                                อัพเดทล่าสุด
                                            </th>
                                            <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                                style="max-width: 150px; width: 150px;vertical-align: middle;">
                                                {{element.update | date:'dd/MM/yy'}} <br>
                                                {{element.update | date:'HH:mm'}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="btnManage">
                                            <th mat-header-cell *matHeaderCellDef class="pl-3 pr-1 pt-2 pb-2">

                                            </th>
                                            <td mat-cell *matCellDef="let element" class="pl-3 pr-1 pt-2 pb-2"
                                                style="max-width: 80px; width: 80px;vertical-align: middle;">
                                                <button type="button" class="btn btn-light" data-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v" style="cursor: pointer;"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" style="cursor:pointer;"
                                                        routerLink="/setup/master-data/hashtags/edit/{{element.id}}">
                                                        ดูรายละเอียด
                                                    </a>
                                                    <a class="dropdown-item text-danger" style="cursor:pointer;"
                                                        (click)="openDeleteModal(element)">
                                                        ลบข้อมูล
                                                    </a>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="dspColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: dspColumns;"></tr>
                                    </table>
                                    <div *ngIf="dataSource.data.length === 0" class="pt-5 text-center">
                                        <label> -- ไม่พบข้อมูล --</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div>
                                    <button type="button" (click)="getHashtagsList()"
                                        class="btn float-left mt-2"><i class="fa fa-refresh"
                                            aria-hidden="true"></i></button>
                                    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div bsModal #removeDataModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-3">
                    <div class="col-12 mb-3">
                        <h5 style="display: inline;">ยืนยันการลบข้อมูล</h5>
                        <i class="fas fa-times float-right mt-1" style="cursor: pointer;"
                            (click)="removeDataModal.hide();"></i><br>
                    </div>
                    <div class="col-12 mb-3">
                        <h6 class="d-inline">ชื่อแฮชแท็ก : </h6>
                        <label>{{dataDelete.nameTh}}</label>
                    </div>
                    <div class="col-12 text-center mb-3">
                        <small class="text-danger">ไม่สามารถเรียกข้อมูลที่ลบไปกลับมาได้ โปรดตรวจสอบข้อมูลให้แน่ใจก่อนลบ</small>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-outline-success btn-block" (click)="removeDataModal.hide();">ยกเลิก</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-danger btn-block" (click)="submitDelete()">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #removeDataListModal="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-3">
                    <div class="col-12 mb-3">
                        <h5 style="display: inline;">ยืนยันการลบข้อมูล</h5>
                        <i class="fas fa-times float-right mt-1" style="cursor: pointer;"
                            (click)="removeDataListModal.hide();"></i><br>
                    </div>
                    <div class="col-12 text-center mb-3">
                        <small class="text-danger">ไม่สามารถเรียกข้อมูลที่ลบไปกลับมาได้ โปรดตรวจสอบข้อมูลให้แน่ใจก่อนลบ</small>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-outline-success btn-block" (click)="removeDataListModal.hide();">ยกเลิก</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-danger btn-block" (click)="deleteHashtagsList()">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>