<div class="container-fluid vh-100"
    style="background: url('assets/img/bg-auth.png') center no-repeat; background-size:cover; height: 200px;">
    <div class="row">
        <div class="col" style="margin: 30% 0% 0% 10%;">
            <h1 class="text-primary">CP L.O.V.E. Platform</h1>
            <h3>Management</h3>
        </div>
        <div class="col-6">
            <div class="container">
                <div style="max-width: 400px; margin: 35% 0% 0% 0%;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mt-4 pb-3">
                                <div class="col-12 text-center">
                                    <img class="img-fluid" style="width: 36%;height: auto;"
                                        src="assets/img/cp_group_signin.jpg">
                                </div>
                                <form *ngIf="!isSubmit" class="col-12" [formGroup]="form"
                                    (ngSubmit)="form.valid && submitForgetPassword(); submitted = true">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12 form-group text-center mt-5">
                                                    <h5>ลืมรหัสผ่าน</h5>
                                                    <label>กรอกอีเมลที่ใช้ในการเข้าระบบ</label>
                                                </div>
                                                <div class="col-12 form-group mt-3">
                                                    <label>อีเมล</label>
                                                    <input type="text" class="form-control" formControlName="email"
                                                        [class.is-invalid]="(form.get('email').dirty || submitted) && form.get('email').invalid"
                                                        placeholder="example@email.com" required>
                                                </div>
                                                <div class="col-12  form-group mt-3">
                                                    <button type="submit" class="btn btn-success">
                                                        ลืมรหัสผ่าน
                                                    </button>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </form>
                                <div *ngIf="isSubmit" class="col-12 mt-5">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12 text-center mb-4">
                                                    <h6>ระบบได้ทำการส่งรหัสผ่านใหม่ไปให้ท่านที่</h6>
                                                    <h6 class="text-primary">อีเมล: {{form.value.email}}</h6>
                                                    <label>โปรดเช็คอีเมลของท่าน <br>
                                                        เพื่อตั้งค่ารหัสผ่านใหม่ก่อนเข้าสู่ระบบ
                                                    </label>
                                                </div>
                                                <div class="col-12 text-center">
                                                    <button type="button" class="btn btn-success"
                                                        style="width: 80px;height: 45px;" routerLink="/auth/login">
                                                        ปิด
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>